body {
  background-color: #FFFFFF;
  /* background-image: url("../assets/placeholder-bg.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;

  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

#storage-quota {
  text-align: center;
  padding: 15px;
  background-color: #414040;
  color: white;
}

#app-mode {
  text-align: center;
  padding: 15px;
  background-color: #3b6800;
  color: white;
}

/* ADD TO HOME SCREEN */
#user-prompt {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width:  100%;
  height: 100%;
  z-index: 100;
  text-align: center;
padding-top: 60px;
}

#user-click {
  cursor: pointer;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 25px;
  padding: 10px 30px;
  display: inline-block;
}

#ios-prompt {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  z-index: 101;
  padding-top: 60px;
  text-align: center;
}

#ios-prompt img {
  width: 300px;
}

#prompt-close-button {
  border: none;
  background-color: white;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  display: inline-block;
}
#ios-close-button {
  border: none;
  background-color: white;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  display: inline-block;
}

img {
  max-width: 100%;
}
